<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Renting Info</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/style.css')}}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  
<style>
  body{
      background-color:#4BB7D0;

    }
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light"style="font-family:'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}" id='home'>home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" id = 'shop'>
          <a class="navbar-brand" aria-current="page" href="shop">library</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" href="about_us">about us</a>
        </li>

        <li class="nav-item">
          <a class="navbar-brand" href="add_product">add</a>
        </li>        
  </div>
</nav>
<br><br>
	<center><h1 style="color: black; text-align: center; font-size:100px;font-family:'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;">Order Details</h1><br><br></center>
	
<p style="text-align: center; font-size: 30px;font-family:'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;">
    <input class="aaa" type="text" name="First_Name" placeholder="First Name" >
    <input class="aaa" type="text" name="Last_Name" placeholder="Last Name"><br><br>
    <input class="aaa" type="text" name="Email" placeholder="Email Adress">
    <input class="aaa" type="text" name="Phone" placeholder="Phone Number"><br><br>
    <a href="/shop"><button id="buy"style="text-align: center;">rent</button></a>
</body>
</html>